/* style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #000000, #366c79);
    color: #333;
}

.container {
    background: rgb(255, 254, 254);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

h1 {
    margin: 0;
    color: #2193b0;
}

#weather p {
    font-size: 1.2em;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #2193b0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6dd5ed;
}
